# Configurações do Banco de Dados
MYSQL_HOST=localhost
MYSQL_USER=neurosync
MYSQL_PASSWORD=senha
MYSQL_DATABASE=neurosync
MYSQL_PORT=3306

# Configurações de e-mail para recuperação de senha
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@dominio.com
EMAIL_PASS=senha

USE_EMAIL=false 